# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\COMP2100_6442_S2_2020_GROUP_PROJECT\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
